{{define "index"}}
{{template "header" .}}
<button id="buta">Receive Json</button>
<button id="bute">Receive GET</button>
<button id="buti">Send Jsonto</button>
<button id="buto">Receive Json</button><br>
<button id="butu">XMLHttp Fetch</button>
<button id="ba">New Encoder Single</button>
<button id="bb">New Encoder Array</button><br>
<button id="darta">Dart Send Receive</button>
<button id="dartb">Dart Post Form</button>
<div id="diva"></div>
<div id="divb"></div>
<div id="divc"></div>
<div id="divd"></div>
{{template "footer" .}}
{{end}}